<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Kristel Talimaa">      <!-- who owns code -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- making website to suit different devices -->
    <title>SDA school system</title>
    <link>  <!-- css link is always inside the head -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">

</head>
<body>
<div id="main-page">
    <header>
        <div id="menu"><a href="#" onclick="function showMeAlert() {
    }
    showMeAlert()">Contact us</a>
        </div>
    </header>

    <!-- stays on top with header. When two words in id, separate with - sign. -->
    <!-- whole body is one division. id is name for the taf -->
    <!-- <a href="contact.html">Contact us</a> -->


    <!-- css class attribute - if you assign set of styles to variable, and you can use this variable anywhere in this html page -->
    <!-- id is the easiest way to select tag -->
    <!-- margin: -50% 5% 0 75%; goes to top right bottom left -->
    <!-- hide-me - hides code in html -->
    <!-- before html, then write css, but when writing class, it comes first in css and then add it as method to the code -->

    <div id="greeting">
        <h1>Hello, User!</h1>
        <p>Welcome to SDA system!<br/>Here You can find more <span style="color: red">schedules and lessons</span> of
            SDA.</p>  <!-- span only affects things between it -->
        <p><i>Today is a great day!</i><br/><b>It's nice to meet You again!</b></p>

        <div id="image-block" class="hide-me">
            <img src="../assets/images/java-code.jpg" alt="Java Code Picture" height="450" width="800"/>
            <!-- all division can be nested -->
            <!-- adding hyperlink, href -->
            <!-- can add link manually also. _blank it will open new tab. _parent opens in same tab as usual -->
            <a href="https://www.twitter.com" target="_blank">Twitter</a>
            <!-- <audio src="/voice.mp3"></audio> -->
            <!-- <video src="/video.mp4" width="400" height="200"></video> -->
        </div>

    </div>
    <div id="course-list">
        <!-- ul means unordered list, it means list with bullets, not numbers.  ol - ordered list is with numbers. li = is list item. List can also be mixed ul+ol -->
        <h3>Courses:</h3>
        <ul>
            <li>Java
                <ol>
                    <li>Fundamentals</li>
                    <li>Advanced features</li>
                    <li>Practical project</li>
                </ol>
            </li>
            <li>Phyton</li>
            <li>Angular</li>
            <li>HTML</li>
            <li>CSS</li>
        </ul>
        <h3>Languages:</h3>
        <ol>
            <li>Java
                <ul>
                    <li class="bold-orange underline-me">Spring</li>
                    <li>Vaadin</li>
                    <li>Apache</li>
                </ul>
            </li>
            <li>C++</li>
            <li>C</li>
            <li>Scala</li>
        </ol>
    </div>
    <footer>
        This site belongs to SDA Developer!
    </footer>

    <section id="Hot-news">
        <header>
            <h3 class="bold-orange">Hot news</h3>
        </header>
        <!-- inside the section any number of divs-->
        <div id="left-block">

        </div>
        <div id="right-block">

        </div>
        <footer>
            <i>Updated in every 5 minutes!</i>
        </footer>
    </section>

</div>
<script src="../assets/js/script.js"></script>
</body>
</html>