<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subscription Form</title>
</head>
<body>
<h1>Subscription Form</h1>
<h2><i>I would like to subscribe to</i></h2>

<table border="1">
    <thead>
    <tr>
        <th>Publication</th>
        <th>Term</th>
        <th>Price</th>
        <th>Start Date</th>
        <th>Remark</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>&nbsp</td>
        <td>&nbsp</td>
        <td>&nbsp</td>
        <td>&nbsp</td>
        <td>&nbsp</td>
    </tr>
    <tr>
        <td>&nbsp</td>
        <td>&nbsp</td>
        <td>&nbsp</td>
        <td>&nbsp</td>
        <td>&nbsp</td>
    </tr>
    <tr>
        <td>&nbsp</td>
        <td>&nbsp</td>
        <td>&nbsp</td>
        <td>&nbsp</td>
        <td>&nbsp</td>
    </tr>
    </tbody>
</table>
<br/><br/>

<label for="Mr."></label>
<input type="radio" id="Mr." name="gender"/> Mr.
<input type="radio" id="Mrs." name="gender"/> Mrs.
<input type="radio" id="Miss." name="gender"/> Miss
<br/><br/>
<label for="name">Name: </label>
<input name="name" id="name" type="text"/>
<label for="last-name">Last name: </label>
<input name="last-name" id="last-name" type="text"/>
<br/><br/>
<big><label for="Home">Delivery address:</label></big>
<input type="radio" id="Home" name="delivery"/> Home
<input type="radio" id="Office" name="delivery"/> Office
<br/><br/>
<label for="name">Company name: </label>
<input name="company-name" id="company-name" type="text"/>
<br/><br/>
<label for="house-no">House no: </label>
<input name="house-no" id="house-no" type="number" min="0"/>
<label for="building">Building: </label>
<input name="building" id="building" type="number" min="0"/>
<label for="floor">Floor: </label>
<input name="floor" id="floor" type="number" min="0"/>
<br/><br/>
<label for="room">Room: </label>
<input name="room" id="room" type="number" min="0"/>
<label for="village">Village: </label>
<input name="village" id="village" type="text"/>
<label for="sol">Sol: </label>
<input name="sol" id="sol" type="number" min="0"/>
<br/><br/>
<label for="street">Street: </label>
<input name="street" id="street" type="text"/>
<label for="sub-district">Sub-district: </label>
<input name="sub-district" id="sub-district" type="text"/>
<br/><br/>
<label for="district">District: </label>
<input name="district" id="district" type="text"/>
<label for="city">City: </label>
<input name="city" id="city" type="text"/>
<br/><br/>
<label for="zip-code">Zip code: </label>
<input name="zip-code" id="zip-code" type="number" min="0" max="8"/>
<label for="telephone">Tel: </label>
<input name="telephone" id="telephone" type="number" min="0" max="8"/>
<label for="mobile-phone">Mobile phone: </label>
<input name="mobile-phone" id="mobile-phone" type="number" min="0" max="8"/>
<br/><br/>
<label for="fax">Fax: </label>
<input name="fax" id="fax" type="number"/>
<label for="email">Email: </label>
<input name="email" id="email" type="email"/>

<br/><br/>
<big>Billing address: (If different from above)</big>
<big><p>Company name:</p></big>




</body>
</html>