<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Einsteins Puzzle</title>
</head>
<body>
<h3>Einsteins Puzzle</h3>
<table border="2">
    <thead>
    <tr>
        <th>Nationality</th>
        <th>House Color</th>
        <th>Beverage</th>
        <th>Cigar Brand</th>
        <th>Pet</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>English</td>
        <td>Green</td>
        <td>Coffee</td>
        <td>Dunhill</td>
        <td>Cat</td>
    </tr>
    </tbody>
</table>
</body>
</html>