<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>British teenager becomes youngest person to complete solo round-the-world flight</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/styling-exercise.css">
</head>
<body>
<h1>British teenager becomes the youngest person to complete solo round-the-world flight</h1>
<p><em><strong>The teenager travelled through 52 countries over five continents</strong></em><br>Aisha Rimi, Wednesday
    24 August 2022
    22:10</p>
<p><strong>A teenage pilot is set to become the youngest person to fly around the world solo in a small aircraft, after
    landing in Bulgaria, where his journey began five months ago.</strong></p>

<a href="https://airbaltic.com" target="_blank">
    <img src="../assets/images/plane-picture.jpg" alt="Picture of the plane" height="400" width="800"/>
</a>
<h2><p>Mack Rutherford, a Belgian-British dual national aged 17, touched down at an airstrip west of Bulgaria’s capital,
    Sofia, to complete his trip and to claim two Guinness World Records.</p></h2>
<p>
    <mark>Once his achievement is certified, he will become the youngest person to fly around the world by himself, as
        well as
        the youngest person to circumnavigate the globe in a microlight plane.
    </mark>
</p>
<p>
<h3>Mr Rutherford’s plane is a Shark, one of the fastest ultralight aircraft in the world, with a cruising speed
    reaching
    300kph. Usually a two-seater, his plane has an extra fuel tank installed next to the pilot.</h3></p>
<p>Speaking to the AP news agency, Mr Rutherford said he hoped his accomplishment would inspire young people to pursue
    their dreams.</p>
<p>“Just follow your dreams, no matter how old you are – work hard and move forward to achieve your goals,” he said.</p>
<p>
<h3>His 19-year-old sister Zara previously held the ultralight record, using the same aircraft. She set the world record
    in January for the youngest woman to fly solo around the world.</h3></p>
<p>Mr Rutherford has taken the record-breaking title from Travis Ludlow, from Britain, who was 18 when he broke it in
    2021.</p>
<p><sup>The former’s journey began on 23 March and took him through 52 countries over five continents. He set off aged
    16 and turned 17 during the journey.</sup></p>
<p>To meet Guinness World Records requirements, he chose a route that crossed the equator twice.</p>
<p>The journey was meant to take up to three months, but ended up taking five due to obstacles along his way, including
    monsoon rains, sandstorms and extreme heat.</p>
<p>Other delays were caused by waits to receive permits, visas and other documents required for further flight.</p>
<p>The flight took Mr Rutherford through Africa and the Gulf region, and then on to India, China, South Korea and
    Japan.</p>
<p>From there, he headed to Alaska and down the west coast of the US to Mexico. He then headed north again along the US
    East Coast to Canada, across the Atlantic Ocean to Europe.</p>
<p>On arrival back at the airport in Sofia, he was met by a huge crowd waiting to welcome and celebrate his
    achievements.</p>
<p>His father, Sam Rutherford, said he was extremely happy and proud of his children’s achievements.
<p>
<p>His sister, Zara Rutherford, said she kept in close touch with her younger brother during his journey.</p>
<p>“While he was flying, I constantly tried to keep in touch and help him,” she told AP.</p>
<p>“Our parents called him every day, and I joined in those conversations. I gave him advice on the route, on the
    flight, so that I could be useful to him.”</p>

</body>
</html>