[name=password]:hover {
    background-color: magenta;
    margin-left: 60px;
}

#register:first-child {
    text-align: right;
}

body:nth-child(2) {
    background-color: lightseagreen;
}

a:link {
    color: darkred;
    font-size: smaller;
}

a:visited {
    color: royalblue;
    font-family: "Comic Sans MS";
}

/* media properties are usually made into new css file. used for applying different styles to different screen sizes. */
/* each device you need to set different properties. this example is for mobile */
@media screen and (max-width: 480px) {
    [name=password]:hover {
        background-color: blue;
        margin-bottom: 60px;
    }
}

/* each device you need to set different properties. this example is for tablet */
@media screen and (max-width: 900px) and (min-width: 600px) {
    [name=password]:hover {
        background-color: yellow;
        margin-top: 60px;
    }
}