[name=password]:hover {
    background-color: magenta;
    margin-left: 60px;
}

#register:first-child {
    text-align: right;
}

body:nth-child(2) {
    background-color: lightseagreen;
}

a:link {
    color: darkred;
    font-size: smaller;
}

a:visited{
    color: royalblue;
    font-family: "Comic Sans MS";
}