h1 {
    color: blue;
}

#course-list {
    margin: 0 5% 0 75%;
}

.hide-me{
    display: none;
}

.bold-orange{
    color: orange;
    font-weight: bold;
}

.underline-me{
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: red;
}